<div class="edit-photo-inspired"></div>
<%= form_for [@user, @photo_inspired] do |f| %>
	<h2>Edit Photo Inspired</h2>
	<div class="photo_inspired-creation_title_input_container">
		<label for="photo_inspired[creation_title]">Creation Title:</label>
		<input type="text" name="photo_inspired[creation_title]" value="<%= @photo_inspired.creation_title %>"/>
	</div>
	<div class="photo_inspired-writer_name_put_container">
		<label for="photo_inspired[writer_name]">Your Name:</label>
		<input type="text" name="photo_inspired[writer_name]" value="<%= @photo_inspired.writer_name %>"/>
	</div>
	<div class="photo_inspired-medium_put_container">
		<label for="photo_inspired[medium]">Medium:</label>
		<input type="text" name="photo_inspired[medium]" value="<%= @photo_inspired.medium %>"/>
	</div>
	<div class="photo_inspired-img_desc_container">
		<label for="photo_inspired[img_desc]">Image Description:</label>
		<input type="text" name="photo_inspired[img_desc]" value="<%= @photo_inspired.img_desc %>"/>
	</div>
	<div class="photo_inspired-writing_input_container">
		<label for="photo_inspired[writing]">Writing:</label>
		<input type="text" name="photo_inspired[writing]" value="<%= @photo_inspired.writing %>"/>
	</div>
	<button type="submit">Submit</button>
	<br>
<% end %>
	<p><%= button_to "Delete", user_photo_inspired_path(@photo_inspired), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<a href="/users/<%= @user.id %>/photo_inspireds/<%= @photo_inspired.id %>">Cancel</a>