<div class="photo-edit container-fluid">
	<h2 class="text-center">Edit Creation</h2>
	<br>
	<div class="row-fluid">
	<div class="col-md-4 col-md-offset-3">
<%= form_for [@user, @photo_inspired] do |f| %>
	<label for="photo_inspired[creation_title]">Creation Title</label><br>
	<input type="text" name="photo_inspired[creation_title]" value="<%= @photo_inspired.creation_title %>"/>
	<br>	
	<label for="photo_inspired[writer_name]">Your Name</label><br>
	<input type="text" name="photo_inspired[writer_name]" value="<%= @photo_inspired.writer_name %>"/>
	<br>
	<label for="photo_inspired[medium]">Medium</label><br>
	<input type="text" name="photo_inspired[medium]" value="<%= @photo_inspired.medium %>"/>
	<br>
	<label for="photo_inspired[img_desc]">Photo Description</label><br>
	<input type="text" name="photo_inspired[img_desc]" value="<%= @photo_inspired.img_desc %>"/>
	<br>
	<label for="photo_inspired[writing]">Writing</label><br>
	<textarea rows="4" cols="40" name="photo_inspired[writing]"><%= @photo_inspired.writing %>
	</textarea>
	<br>
	<br>
	
	<table>
	<tr>	
	<td><button type="submit" class="btn btn-primary">Submit</button><br></td>
	<td><%= button_to "Delete", user_photo_inspired_path(@photo_inspired), :class=>'btn btn-primary', :data => { :confirm => "Are you sure?" }, :method => :delete %></td>
	</tr>
	</table>
	<br>
<% end %>
</div>
</div>
<a href="/users/<%= @user.id %>/photo_inspireds/<%= @photo_inspired.id %>">Cancel</a>
</div>