<%= form_for user do |f| %>

  <div><%= f.label "Location" %>
  <%= f.text_field :location %></div>
  <div><%= f.label "About Me" %>
  <%= f.text_area :about, :rows => 8, :cols => 60 %></div>  
  <%= f.submit %>
 <% end %>

