<h3>Username: <%= @user.username %></h3>
<h3>Name: <%= @user.full_name %></h3>
<% unless @user.blank? %>
<h3>Location: <%= @user.location %></h3>
<h3>About: <h3> <%= @user.about %>
<% end %>
<br>

<% if !@user.photo_inspireds.empty? %>
    <h2> Works Inspired by Photography</h2>
    <% @user.photo_inspireds.each do |photo_inspired| %>     
  <h4><a href="/users/<%= @user.id %>/photo_inspireds/<%= photo_inspired.id %>"><%= photo_inspired.creation_title %></a></h4>
<% end %>
<% end %>

<% if !@user.music_inspireds.empty? %>
    <h2>Works Inspired by Music</h2>
<% @user.music_inspireds.each do |music_inspired| %>
 <h4><a href="/users/<%= @user.id %>/music_inspireds/<%= music_inspired.id %>"><%= music_inspired.creation_title %></a></h4>
<% end %>
<% end %>
 

<%= link_to "Edit Profile", edit_user_path(@user) if current_user && @user.id == current_user.id %>

<!-- <a href="/users/<%= @user.id %>/photo_inspireds/new">Create Photo Inspired</a> -->
<!-- <a href="/users/<%= @user.id %>/music_inspireds/new">Create Music Inspired</a> -->