  <h4><%= @music_inspired.creation_title %></h4>
  	  By: <%= @music_inspired.writer_name %><br> 
  	  Inspired By: <%= @music_inspired.artist_name %>'s &quot;<%= @music_inspired.song_title %>&quot;
  	  <br>
  	  <br>
  	  <%= @music_inspired.writing %>
  	  <br>
  	  <br>
  	<a href="/users/<%= @user.id %>/music_inspireds/<%= @music_inspired.id %>/edit">Edit</a>
  	<%= link_to("Back", user_path(@user)) %>