<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <title>Afflatus</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= yield %>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Afflatus</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav nav-pills pull-right">
              <li><a href="/">Home</a></li>
              <li><%= link_to "Dashboard", dashboard_path if user_signed_in? %></li>
              <li><%= link_to "Be Inspired", select_muse_path if user_signed_in? %></li>
              <li><%= link_to "Writers", users_path if user_signed_in? %></li>
              <li><%= link_to "View Profile", user_path(current_user.id) if user_signed_in? %></li>
              <li><%= link_to "View Account", edit_user_registration_path if user_signed_in? %></li>
              <% if user_signed_in? %>
        				<li class="status"><%= "You are signed in as #{current_user.full_name}" %></li>
        				<li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, :class => "sign-out-button btn btn-primary btn-sm" %></li>	
      			  <% else %>
        			  	<li><%= link_to "Sign Up", new_user_registration_path %></li>
        			    <li><%= link_to "Sign In", new_user_session_path %></li>
      			  <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div><!-- /.container -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag "application" %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
